<!--The content below is only a placeholder and can be replaced.-->
<div id="chart" class="bg-white" >
    <apx-chart *ngIf="bool"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [markers]="chartOptions.markers"
      [stroke]="chartOptions.stroke"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [title]="chartOptions.title"
      [fill]="chartOptions.fill"
      [tooltip]="chartOptions.tooltip"
      [legend]="chartOptions.legend"
    ></apx-chart>

    
  </div>
  