<div class="container-fluid bg-white">
    <div class="p-5">

        
          
        <div class="p-3 mb-5" style="background-color: #f7f7f7;">
            <div>
                <span style="color: grey;"> 
                    RAPPORT ANNUEL DES DÉPÔTS
                </span>
            </div> 
        </div>
            
        
    
        <div class="row mb-5">
            <fieldset class="border rounded-3 p-4 ">
                    <legend  class="float-none w-auto px-3" style="color: grey;">Rapport Annuel</legend>
                
                        <div class="row">
                            <form [formGroup]="FormRapportDepotagence">
                                <div class="form-group  col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 " matTooltip="Choisir une année pour générer le rapport">
                                    <mat-form-field appearance="fill" class="col-12 ">
                                        <mat-label>Année</mat-label>
                                        <mat-select  formControlName="annee"     (selectionChange)="ChangeSelectYear($event)">
                                            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option >
                                        </mat-select>
                                    </mat-form-field>


                                </div>
                          </form>
                        </div>
        
            </fieldset>
        </div>

        
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtTable" class="table  table-hover shadow">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Depot Partenaire</th>
                        <th scope="col">Date depot</th>
                        <th scope="col">Total Livree</th>
                        <th scope="col">Total Retour</th>
                        <th scope="col">Total Instance</th>
                        <th scope="col" style=" background-color:#00E396" class="text-center">Livree</th>
                        <th scope="col" style="background-color:#FEB019" class="text-center">Retour</th>
                        <th scope="col" style="background-color:red; color: white;" class="text-center">Instance</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let rapport  of rapport_depotagences; let i = index">
                        <td style="color: grey;">{{i+1}}</td>
                        <td style="color: green; ">{{rapport.nb_depotagence}}</td>
                        <td>{{rapport.date_depotagence | date}}</td>
                        <td>{{rapport.total_livree}}</td>
                        <td>{{rapport.total_retour}}</td>
                        <td>{{rapport.total_instance}}</td>
                        <td>{{(rapport.total_livree*100)/rapport.nb_depotagence | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                        <td>{{(rapport.total_retour*100)/rapport.nb_depotagence | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                        <td>{{(rapport.total_instance*100)/rapport.nb_depotagence | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                    
                        <td> 
                            <div class="d-flex flex-row ">
                                <div> <button mat-raised-button class="btn mr-3" style="background-color: #14517c; color: #fff;" (click)="viewRapportProvince(rapport.id_depotagence)" matTooltip="Voir le rapport dans chaque DIRPM">DIRPM</button> </div> 
    
                                <button matTooltip="Détails" mat-button [matMenuTriggerFor]="menu"><i class="bi bi-three-dots-vertical"></i></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="viewRapportAgenceSemaine(rapport.id_depotagence)">Semaine</button>
                                    <button mat-menu-item (click)="viewRapportAgenceQuinzieme(rapport.id_depotagence)">15 em du mois</button>
                                    <button mat-menu-item (click)="viewRapportAgenceMois(rapport.id_depotagence)">Mois</button>
                                </mat-menu>
                                
    
                            </div>
                        </td>
                        
                    </tr>
                    <tr style="background-color: #dcdcdc;" >
                        <th>Total :</th>
                        <td>{{DepotPartenaireTotal}}</td>
                        <td></td>
                        <td>{{LivreeTotal}}</td>
                        <td>{{RetourTotal}}</td>
                        <td>{{InstanceTotal}}</td>
                        <td>{{(LivreeTotal*100)/DepotPartenaireTotal | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                        <td>{{(RetourTotal*100)/DepotPartenaireTotal | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                        <td>{{(InstanceTotal*100)/DepotPartenaireTotal | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                        <td> 
                            <div class="d-flex flex-row "> 
                                <div style="margin-left: 61%;"></div> 
                                <button matTooltip="Détails" mat-button [matMenuTriggerFor]="menu"><i class="bi bi-three-dots-vertical"></i></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="viewRapportTotalSemaine(DepotPartenaireTotal)">Semaine</button>
                                    <button mat-menu-item (click)="viewRapportTotalQuinzieme(DepotPartenaireTotal)">15 em du mois</button>
                                    <button mat-menu-item (click)="viewRapportTotalMois(DepotPartenaireTotal)">Mois</button>
                                </mat-menu>
                                
    
                            </div>
                        </td>
                    </tr>
                </tbody>
    
            </table>
        </div>
    </div>
</div>