<div class="container-fluid bg-white">
    <div class="p-5">

        <div class="p-3 mb-5" style="background-color: #f7f7f7;">
            <div>
                <span style="color: grey;"> 
                    DÉPÔT PARTENAIRE ( {{currentDepotagence.nbDepotAgence}} )
                </span>
            </div> 
        </div>

        <fieldset class="border rounded-3 p-5 ">
            <legend  class="float-none w-auto px-3" style="color: grey;">Rapport Par DIRPM Annuel</legend>

                <p style="font-size: 16px;"><span style="color: grey;">Dépot Partenaire: </span> <strong>{{currentDepotagence.nbDepotAgence}}</strong> </p>
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtTable" class="table  table-hover shadow">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">DIRPM</th>
                                <th scope="col">Répartition DIRPM</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total Livree</th>
                                <th scope="col">Total Retour</th>
                                <th scope="col">Total Instance</th>
                                <th scope="col" style=" background-color:#00E396" class="text-center">Livree</th>
                                <th scope="col" style="background-color:#FEB019" class="text-center">Retour</th>
                                <th scope="col" style="background-color:red; color: white;" class="text-center">Instance</th>
                                <th scope="col">Action</th>
    
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let rapport  of rapportDepotProvinces; let i = index">
                                <td style="color: grey;">{{i+1}}</td>
                                <td style="color: green; ">{{rapport.nom_province}}</td>
                                <td>{{rapport.nb_depotprovince}}</td>
                                <td>{{rapport.date_depotprovince | date}}</td>
                                <td>{{rapport.total_livree}}</td>
                                <td>{{rapport.total_retour}}</td>
                                <td>{{rapport.total_instance}}</td>
                                <td>{{(rapport.total_livree*100)/rapport.nb_depotprovince | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                                <td>{{(rapport.total_retour*100)/rapport.nb_depotprovince | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                                <td>{{(rapport.total_instance*100)/rapport.nb_depotprovince | number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                            
                                <td> 
                                    <div class="d-flex flex-row ">
                                        <div> <button mat-raised-button class="btn mr-3" style="background-color: #14517c; color: #fff;"  (click)="viewRapportZone(rapport.id_depotprovince)" matTooltip="Voir le rapport dans chaque Agence">Agences</button> </div>
    
                                        <button matTooltip="Détails" mat-button [matMenuTriggerFor]="menu"><i class="bi bi-three-dots-vertical"></i></button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="viewRapportProvinceSemaine(rapport.id_depotprovince)">Semaine</button>
                                            <button mat-menu-item (click)="viewRapportProvinceQuinzieme(rapport.id_depotprovince)">15 em du mois</button>
                                            <button mat-menu-item (click)="viewRapportProvinceMois(rapport.id_depotprovince)">Mois</button>
                                        </mat-menu>
    
                                    </div>
                                </td>
                                
                            </tr>
                        </tbody>
    
                    </table>
                </div>
    </fieldset>

    </div>
</div>