<div class="container-fluid bg-white">
    <div class=" p-5 ">

        <fieldset class="border rounded-3 p-5 ">
            <legend  class="float-none w-auto px-3" style="color: grey;">Rapport total 15 em du mois</legend>

                <p style="font-size: 16px;"><span style="color: grey;">Total déposé: </span> <strong>{{DepotPartenaireTotal}}</strong> </p>
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtTable" class="table  table-striped  shadow">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Semaine du</th>
                                <th scope="col">Livree</th>
                                <th scope="col">Retour</th>
                                <th scope="col">Instance</th>
                                <th scope="col" style=" background-color:#00E396" class="text-center">Livree</th>
                                <th scope="col" style="background-color:#FEB019" class="text-center">Retour</th>
                                <th scope="col" style="background-color:red; color: white;" class="text-center">Instance</th>
                                
                                
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let rapport  of rapport_total; let i = index">
                                <td style="color: grey;">{{i+1}}</td>
                                <td style="color: green; ">{{rapport.charMonth }}</td>
                                <td>{{rapport.livree}}</td>
                                <td>{{rapport.retour}}</td>
                                <td>{{instances[i]}}</td>
                                <td>{{(rapport.livree*100)/DepotPartenaireTotal| number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                                <td>{{(rapport.retour*100)/DepotPartenaireTotal| number: '1.0-2' }}<span style="color: grey;"> %</span></td>
                                <td>{{(instances[i]*100)/DepotPartenaireTotal| number: '1.0-2' }}<span style="color: grey;"> %</span></td>     
                            </tr>
                        </tbody>
            
                    </table>
                </div>
                

        </fieldset>

    </div>
</div>